footer {
<<<<<<< HEAD
    position: relative;
    text-align: center;
    width: 90vw;
=======
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--true-orange);
    height: 5rem;
    width: 100%;
    position: absolute;
>>>>>>> 1f6cd604e647fc16fb2aa936371142060ce90f21
    bottom: 0;
}
